div{
    box-shadow: 3px 3px 2px 2px rgb(104, 86, 109);
    padding: 20px;
    margin-top: 10%;
    box-sizing: border-box;
    width: 400px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
body{
    background: radial-gradient( rgb(197, 151, 211),white);
    background-attachment: fixed;
    
}