 
.a1{
    box-shadow: 3px 3px 2px 2px rgb(104, 86, 109);
    padding: 60px;
    background-color: seagreen;
    margin-top: 10%;
    box-sizing: border-box;
    width: 400px;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}
textarea{
    background-color: rgb(247, 214, 247);
    font-family: monospace;
    font-weight: 600;
}